@import 'tailwindcss';

:root {
  --background: #10141b;
  --foreground: #fff;

  --primary: #00001b;

  --gold-primary: #d4af37;
  --gold-secondary: #997b38;

  --disabled: #01010c;

  --event-team: rgb(243, 156, 18);
  --event-siege: #e74c3c;
  --event-territory: #3498db;
  --event-olympiad: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --color-gold-primary: var(--gold-primary);
  --color-gold-secondary: var(--gold-secondary);

  --color-disabled: var(--disabled);

  --font-cinzel: var(--font-cinzel-sans);

  /*Event Server*/
  --color-event-team: var(--event-team);
  --color-event-siege: var(--event-siege);
  --color-event-territory: var(--event-territory);
  --color-event-olympiad: var(--event-olympiad);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Cinzel', serif;
  color: var(--color-gold-primary);
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h2 {
  color: var(--color-gold-primary);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.container {
  border-radius: 12px;
  border: 1px solid #262626;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(23, 23, 23, 0.4);
}
.container h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

.container p {
  margin-top: 8px;
  flex: 1;
}

.container a {
  margin-top: 16px;
  display: inline-block;
  border-radius: 8px;
  background: #7f22fe;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 600;
  width: max-content;
}
.container a:hover {
  background-color: var(--color-violet-500);
}

.btn {
  background: var(--gold-primary);
  padding: 8px 16px;
  cursor: pointer;
  color: #00001b;
  font-weight: 700;
  border-radius: 12px;
  width: 100%;
}

.btn.disabled,
.btn.disabled:hover {
  background: var(--disabled);
  cursor: not-allowed;
  color: #666666;
}

.btn:hover {
  background: var(--gold-secondary);
}
input:focus {
  outline: none;
  border: 1px solid oklch(37.1% 0 0);
}
button:focus {
  outline: none;
  border: none;
}
