@import "tailwindcss";

:root {
  --background: #10141b;
  --foreground: #fff;

  --primary: #00001b;

  --gold-primary: #d4af37 ;
  --gold-secondary: #997b38;

    /*Event Server*/
  --event-team: rgb(243, 156, 18);
  --event-siege: #e74c3c;
  --event-territory: #3498db;
  --event-olympiad: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --color-gold-primary: var(--gold-primary);
  --color-gold-secondary: var(--gold-secondary);

  --font-cinzel: var(--font-cinzel-sans);

   /*Event Server*/
  --color-event-team: var(--event-team);
  --color-event-siege: var(--event-siege);
  --color-event-territory: var(--event-territory);
  --color-event-olympiad: var(--event-olympiad);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Cinzel', serif;

  color: var(--color-gold-primary);
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
