@import "tailwindcss";

:root {
  --background: #10141b;
  --foreground: #fff;

  --primary: #00001b;

  --gold-primary: #d4af37 ;
  --gold-secondary: ##997b38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --color-gold-primary: var(--gold-primary);
  --color-gold-secondary: var(--gold-secondary);

  --font-cinzel: var(--font-cinzel-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
