section.hero {
  display: flex;
  position: relative;
  justify-content: center; /* Centraliza Horizontalmente */
  align-items: center; /* Centraliza Verticalmente */
  height: calc(100vh - 60px); /* Importante: O pai precisa ter altura! */
  background: url('/images/bg/mainbg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

section.hero::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    transparent 25%,
    /* Substitui o rgba(0,0,0,0) */ var(--background) 95%
      /* Substitui o rgba(0,0,0,1) */
  );
}

section.hero .heroChar {
  background: url('/images/bg/hero_char_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100vw;
}

/*Event*/
.newsCard {
  background: rgba(20, 25, 35, 0.8);
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

/* O Efeito de Borda Colorida na Esquerda (igual ao site) */
.newsCard::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px; /* Espessura da faixa colorida */
  background-color: #ffc857; /* Cor padrão */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Variações de Categoria */
.newsCard.team::before {
  background-color: var(--event-team);
  box-shadow: 0 0 8px var(--event-team);
}

.newsCard.siege::before {
  background-color: var(--event-siege);
  box-shadow: 0 0 8px var(--event-siege);
}

.newsCard.territory::before {
  background-color: var(--event-territory);
  box-shadow: 0 0 8px var(--event-territory);
}

.newsCard.olympiad::before {
  background-color: var(--event-olympiad);
  box-shadow: 0 0 8px var(--event-olympiad);
}

/* Conteúdo de Texto */
.newsContent {
  flex: 1;
  padding-left: 15px;
}

.newsTitle {
  color: #ffc857;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 5px 0;
  font-family: 'Cinzel', serif;
}

.newsExcerpt {
  font-size: 0.9rem;
  color: #aaa;
  margin: 0;
  line-height: 1.4;
}

.newsDate {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  min-width: 80px;
  text-align: center;
  margin-left: 20px;
}